* {
  margin: 0;
  box-sizing: border-box;
  font-weight: normal;
}

body {
  /* height: 6000px; */
  background: #efefef;

}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.layout {

}

.card {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card img {
  height: 85vh;
  width: auto;
  position: relative;
  margin: 0 auto;
}

.card h1 {
  width: 40%;
  margin: 0 auto;
  align-self: flex-end;
}

/* Required by unstack */
.is-released {
  position: relative;
}
